body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #eee;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom,#0072bc 0,#00408d 100%);
}

.navbar-inverse .navbar-brand {
  color: #eee;	
}

.navbar-inverse .navbar-nav > li > a {
  color: #eee;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #00408d;
  color: #fff;	
}